.Rproj.user
.Rhistory
.RData

core.*
.DS_Store

benchmarks/
data/*/*
data/process/
results/CvDC/*
results/CvNDC/*
results/DCvNDC/*
!README.md
results/predict_*/
*.icloud

log/
mothur*logfile
*temp*
*.docx
*.out

paper/*.sty
paper/*.ldf
paper/*.cls
paper/*.bst
.quarto/
.snakemake/

# user-specific files
*_KLS*
*_MLC*
*_mlc*
