.Rproj.user
.Rhistory
.RData

core.*
.DS_Store

benchmarks/
data/*/*
data/process/
results/CvDC/*
results/CvNDC/*
results/DCvNDC/*
!README.md
results/runs/
results/*/runs/

log/
mothur*logfile
*temp*
*.docx
*.out

.snakemake/

# user-specific files
*KLS*
*MLC*
