.Rproj.user
.Rhistory
.RData

core.*
.DS_Store
*.icloud

benchmarks/
data/
log/
results/predict_*/
*.log
mothur*logfile
*.docx
*.out

paper/*.sty
paper/*.ldf
paper/*.cls
paper/*.bst
.quarto/
.snakemake/

# user-specific files
*_KLS*
*_MLC*
*_mlc*

/.quarto/
paper/*.ldf
paper/*.sty
paper/*.bst
paper/*.cls
